.navbar {
    display: flex;
    padding:  7px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #8f0101;

    .nav-icon{
        width: 50px;
        height: 50px;
    }

    .nav-title{
        color: #FFF;
        font-size: 40px;
    }
}  


