.movie-container {
    padding: 24px 3%;

    .sub-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        margin-bottom: 24px;

        .title {
            font-size: 32px;
        }

        .sort-dropdown{
            background-color: #fff;
            height: 3rem;
            width: 12rem;
            border-radius: 2rem;
            color:gray;
            padding-left: 1.65rem;
        }
    }
    
    .movie-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
        list-style: none;
        width: 100%;
    }

    
}
